{% extends 'base.html.twig' %}

{% block title %}TradeLog index{% endblock %}

{% block body %}
    <h1>TradeLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trade_log in trade_logs %}
            <tr>
                <td>{{ trade_log.id }}</td>
                <td>
                    <a href="{{ path('app_trade_log_show', {'id': trade_log.id}) }}">show</a>
                    <a href="{{ path('app_trade_log_edit', {'id': trade_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trade_log_new') }}">Create new</a>
{% endblock %}
