/*---break---*/
.dark {
  --background: #020204;
  --foreground: var(--color-white);
  --card: rgba(233, 223, 255, 0.04);
  --card-foreground: var(--color-white);
  --popover: rgba(233, 223, 255, 0.04);
  --popover-foreground: var(--color-white);
  --primary: #763EFF;
  --primary-foreground: var(--color-white);
  --secondary: #A885FF;
  --secondary-foreground: var(--color-white);
  --muted: #A1A1A1;
  --muted-foreground: #A1A1A1;
  --accent: var(--color-lightprimary);
  --accent: var(--color-lightprimary);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-error);
  --border: transparent;
  --input: rgba(255, 255, 255, 0.1);
  --ring: var(--color-lightprimary);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-success);
  --chart-4: var(--color-warning);
  --chart-5: var(--color-error);
  --sidebar: #020204;
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --sidebar-accent: var(--color-sidebar-accent);
  --sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --sidebar-border: var(--color-sidebar-border);
  --sidebar-ring: var(--color-sidebar-ring);
  --color-lightprimary: #5d87ff20;

  /* common var for dark&light */
  --color-charcoal: #7c8fac;
  --color-customdark: #ffff;
  --color-defaultBorder: transparent;
  --color-slateGray: #7c8fac;
  --color-breadcrumbColor: #223662;
  --color-lightgray: #2a3851;
}